<%- include('../Admin/admin') %>
<div class="container" >
    <h2 style="margin-left: 100px;">Danh sách sản phẩm</h2>
    <a href="/add-brand" class="btn btn-primary" style="margin-left: 100px;">Thêm sản phẩm  <i style='font-size:24px' class='fas'>&#xf055;</i></a>   
    <table class="table table-bordered" style="margin-left: 100px;">
      <thead>
        <tr>
          <th>Id</th>
          <th>Tên nhóm</th>
          <th>Trạng thái</th>     
          <th>Chức năng</th>
        </tr>
      </thead>
      <tbody>
       <% bran.forEach(item=>{ %>
        <tr>
          <td><%= item.id%></td>
            <td><%= item.brand_name %></td>
            <td><%= item.status %></td>
            <td>
              <form action="/Brand/delete/<%= item.id %>" method="post">
                <a href="/edit-brand/<%= item.id %>" class="btn btn-primary"><i style='font-size:24px' class='fas'>&#xf044;</i></a>
    
                <button type="submit" class="btn btn-primary"><i style='font-size:24px' class='fas'>&#xf057;</i></button>
                
    
              </form>
            </td>
        </tr>
    <%}) %>
        
      </tbody>
    </table>
  </div>